# @package model
# v5.0 | Purpose: Monolithic CRAFT Preset (Detection)
# Validated: 2026-01-18 | Deps: ocr.domains.detection
defaults:
  - /model/architectures: craft
  - /train/optimizer: adamw
  - _self_

encoder:
  _target_: ${encoder_path}.CraftVGGEncoder
  model_name: "vgg16_bn"
  pretrained: true
  output_indices: [1, 2, 3, 4]
  extra_channels: 512
  freeze_backbone: false

decoder:
  _target_: ${decoder_path}.CraftDecoder
  in_channels: [64, 128, 256, 512]
  inner_channels: 256
  out_channels: 256
  use_batch_norm: true

head:
  _target_: ${head_path}.CraftHead
  in_channels: 256
  hidden_channels: 128
  postprocess:
    text_threshold: 0.7
    link_threshold: 0.4
    low_text: 0.3
    min_area: 16
    expand_ratio: 1.5

loss:
  _target_: ${loss_path}.CraftLoss
  region_weight: 1.0
  affinity_weight: 1.0
  eps: 1.0e-6

optimizer:
  lr: 0.0005
  weight_decay: 0.0001
