# @package _global_

defaults:
  - _self_
  - paths: default
  - hydra: default

seed: 42
debug: true
print_config: true
ignore_warnings: true

project_name: "ocr-kie-aihub-debug"
run_name: "kie-aihub-debug"
use_wandb: true

experiment:
  kind: "train"
  task: "kie"
  name: "aihub-debug"
  run_id: "${now:%Y%m%d_%H%M%S}"

task_name: "train_kie_aihub"


model:
  type: "layoutlmv3"
  pretrained_model_name_or_path: "microsoft/layoutlmv3-base"
  num_labels: 2 # O, text
  max_length: 512

data:
  train_path: "data/processed/aihub_validation.parquet"
  val_path: "data/processed/aihub_validation.parquet"
  # Paths in parquet are relative to image_dir
  image_dir: "data/raw/external/aihub_public_admin_doc/validation/images"
  label_list: ["O", "text"]

train:
  batch_size: 2
  num_workers: 4
  max_epochs: 1
  devices: 1
  accelerator: "auto"
  limit_train_batches: 10
  limit_val_batches: 5
